$header-height: 3rem;
$footer-height: 3rem;

.l-container {
  max-width: $container-width;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height auto auto auto $footer-height;
  grid-template-areas: 
    "header"
    "scboard"
    "listing"
    "elo"
    "footer";
  padding: .5rem;
  margin: 0 auto;
}

@media screen and (min-width: $breakpoint-md){
  .l-container {
    grid-template-columns: 1fr 1fr 1fr 15rem;
    grid-template-rows: $header-height auto auto $footer-height;
    grid-template-areas: 
      "header header header header"
      "scboard scboard scboard scboard"
      "elo elo elo listing"
      "footer footer footer footer";
  }
}