<div class="scoreboard-container">
  <div class="scoreboard">
    <h2 class="section-header">Scoreboard</h2>
    <div class="scoreboard-games">
      <div class="scoreboard-game">
        <div class="scoreboard-teams">
          <div class="scoreboard-team">
            <div class="scoreboard-team-name">Penn</div>
            <div class="scoreboard-team-score is-final is-win">41</div>
          </div>
          <div class="scoreboard-team">
            <div class="scoreboard-team-name">Mississippi Valley State</div>
            <div class="scoreboard-team-score is-final is-loss">14</div>
          </div>
        </div>
        <div class="scoreboard-status">
          <span>1st & 10 on PENN 35</span>
        </div>
        <a href="https://reddit-stream.com/comments/bun558/" class="scoreboard-stream-link">
          <span>View on reddit-stream &gt;</span>
        </a>
      </div>
    </div>
  </div>
</div>