.elo {
  padding: $pad 0;
  grid-area: elo;

  @media screen and (min-width: $breakpoint-md){
    padding-right: $pad;
  }
}

.elo-table{
  width: 100%;
  overflow: hidden;

  th{
    font-weight: 400;
    text-transform: uppercase;
    @include ms-respond(font-size,-1);
    padding: .25rem 1rem .25rem .5rem;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 0.15s;
    background-clip: padding-box;

    &:hover{
      background-color: #ccc;
    }

    & > span{
      vertical-align: baseline;
    }
  }

  thead{
    border-bottom: 2px solid black;
  }

  td{
    padding: .5rem;
  }

  tbody > tr{
    border-bottom: 1px solid $border-color;
  }

  &.is-collapsed{
    tr:nth-of-type(n+11){
      display: none;
    }
  }
}

.elo-rating, .elo-pn{
  width: 1%;
}

td.elo-rating{
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.elo-change{
  display: none;
  width: 1%;

  @media screen and (min-width: $breakpoint-xs){
    display: table-cell;
  }
}

.elo-change-value {
  background-color: #ccc;
  @include ms-respond(font-size,-2);
  border-radius: 1rem;
  padding: .25em .5em;
  display: block;

  &.is-increase{
    background-color: rgba(68,171,67,.5);
  }

  &.is-decrease{
    background-color: rgba(255,39,0,.5);
  }
}

.elo-team{
  vertical-align: middle;
}

.elo-team > a{
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  padding-left: 1.5rem; // image size
  position: relative;
}

.elo-team > a:hover > span {
  text-decoration: underline;
}

.elo-team-logo{
  height: 1.25rem;
  width: 1.25rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.elo-record{
  font-family: $mono-font-family;
  @include ms-respond(font-size,-1);
  color: $faded;
}

.elo-conf{
  min-width: 20%;
  white-space: nowrap;
  display: none;

  @media screen and (min-width: $breakpoint-xs){
    display: table-cell;
  }
}

.elo-div{
  display: none;

  @media screen and (min-width: $breakpoint-sm){
    display: inline;
  }
}

.elo-expand{
  width: 100%;
  
  button{
    margin: 0.5rem auto;
    background-color: white;
    border: 1px solid black;
    padding: 0.625rem 0.5rem;
    line-height: 1;
    display: block;
    transition: background-color 0.15s ease;

    &:hover{
      background-color: $placeholder-grey;
    }
  }
}

.sorter{
  display: inline-block;
  position: absolute;
  bottom: .375rem;
  margin-left: .25rem;
  color: $faded;
  font-size: 0.5rem;
  line-height: calc(1rem * (7 / 16));

  &.asc span.asc{
    color: black;
  }

  &.desc span.desc{
    color: black;
  }
  
  span{
    display: block;
  }
}

.elo-lightbox-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
  display: none;
}

.elo-lightbox {
  position: fixed;
  width: 90vw;
  max-width: 45rem;
  height: 90vw;
  max-height: 30rem;
  background-color: #f4f4f4;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 1rem;
}

.elo-lightbox-close {
  position: absolute;
  line-height: 1;
  top: .25em;
  right: .5em;
  font-size: 2em;
  color: inherit;
  text-decoration: none;

  &:hover {
    color:inherit;
    text-decoration: none;
  }
}

.is-visible {
  display: block;
}

.elo-chart {
  width: 100%;
  height: 100%;
}

.highcharts-tooltip {
  text-align: center;
  z-index: 10;

  &.highcharts-tooltip-tal{
    text-align: left;
  }

  &.highcharts-tooltip-tar{
    text-align: right;
  }
}

.highcharts-tooltip > span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  z-index: -1;
}

.elo-tooltip-elo {
  font-family: $mono-font-family;
  font-weight: bold;
  font-size: 1.25rem;
  display: block;
}

.elo-tooltip-line{
  position: fixed;
  width: 2px;
  background-color: #999;
  z-index: -5;
}