.scoreboard-container {
  grid-area: scboard;
  padding: $pad 0;
  border-bottom: 1px solid $border-color;
}

.scoreboard{
  width: 100%;
  height: 100%;
}

.scoreboard-expand{
  width: 100%;
  display: none;
  
  button{
    margin: 0.5rem auto;
    background-color: white;
    border: 1px solid black;
    padding: 0.625rem 0.5rem;
    line-height: 1;
    display: block;
    transition: background-color 0.15s ease;

    &:hover{
      background-color: $placeholder-grey;
    }
  }
}

body.scoreboard-is-overflowing .scoreboard-expand{
  display: block;
}

.scoreboard-games{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

body.scoreboard-is-collapsed .scoreboard-games{
  overflow: hidden;
}

.scoreboard-game{
  border: 1px solid $border-color;
  margin: 0.5rem;
}

.scoreboard-teams{
  border-bottom: 1px solid $border-color;
}

.scoreboard-team{
  display: flex;
  width: 12.5rem;
}

.scoreboard-team-name{
  @include ms-respond(font-size,-0.5);
  flex: 1;
  line-height: 1.625rem;
  padding: 0 0.5rem;
  position: relative;

  &.is-defense{
    color: $faded;
  }
}

.scoreboard-team-score{
  @include ms-respond(font-size,0);
  border-left: 1px solid $border-color;
  font-family: $mono-font-family;
  padding: 0 0.25rem;
  flex: 0 0 2rem;
  width: 2rem;
  text-align: center;
  line-height: 1.625rem;

  &.is-final{
    font-weight: bold;

    &.is-loss{
      color: $faded;
    }
  }
}

.scoreboard-status{
  font-family: $system-font-family;
  font-weight: 600;
  border-bottom: 1px solid $border-color;
  line-height: 1.125rem;
  padding: 0 0.5rem;
  @include ms-respond(font-size,-1.5);
}

.scoreboard-stream-link{
  display: block;
  line-height: 1.125rem;
  @include ms-respond(font-size,-2);
  text-transform: uppercase;
  padding: 0 0.5rem;
  text-align: right;

  &:hover{
    text-decoration: none;
  }
}