.stats-container {
  overflow-x: hidden;
}

.stats-table-container {
  max-width: 100%;
  overflow-x: auto;
}

.stats-table {
  width: 100%;
  max-width: 100%;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  overflow-x: scroll;

  thead > tr {
    border-bottom: 1px solid $border-color;
  }

  th {
    position: relative;
    vertical-align: middle;
    background-clip: padding-box;

    & > span {
      vertical-align: baseline;
    }

    &.asc {
      background-color: #57bb8a;

      &:hover {
        background-color: desaturate($color: #57bb8a, $amount: 50);
      }
    }

    &.desc {
      background-color: #e67c73;

      &:hover {
        background-color: desaturate($color: #e67c73, $amount: 50);
      }
    }
  }

  th, td {
    @include ms-respond(font-size,-1);
    padding: .125rem .25rem;
    white-space: nowrap;
    text-align: center;
  }

  tr {
    .team-name, .losses, .timeg, .ayg {
      border-right: 1px solid $border-color;
    }

    .team-name {
      text-align: left;
      width: 15%;
    }

    th:nth-child(n+3), td:nth-child(n+3) {
      min-width: 2rem;
    }
  }

  .sorter {
    font-size: 0.375rem;
    line-height: calc(1rem * (5 / 16));
  }
}

.stats-sortable > th {
  transition: background-color 0.15s;

  &:not(.nosort):hover{
    background-color: #ccc;
    cursor: pointer;
  }
}

.stats-top-header > th:not(:last-child) {
  border-right: 1px solid $border-color;
}