<header class="header">
  <a href="/" class="header-logo">
    <img src="./images/logo.svg" alt="OneTwoOneTwo">
  </a>
  <ul class="nav" role="navigation">
    <li class="nav-item is-disabled">
      <span>Articles</span>
    </li>
    <li class="nav-item is-disabled">
      <span>Standings</span>
    </li>
    <li class="nav-item is-disabled">
      <span>Stats</span>
    </li>
    <li class="nav-item is-disabled">
      <span>Metrics</span>
    </li>
  </ul>
  <button class="nav-expand" data-expand-text="Menu" data-collapse-text="Close" aria-expanded="false">
    Menu
  </button>
</header>
<script src="/js/mobile-nav.js" defer></script>