<div class="scoreboard-container">
  <div class="scoreboard">
    <h2 class="section-header">Scoreboard</h2>
    <div class="scoreboard-games">
      <span>Loading...</span>
    </div>
  </div>
</div>