<div class="scoreboard-container">
  <div class="scoreboard">
    <h2 class="section-header">Scoreboard</h2>
    <% include ../partials/scoreboard-games %>
    <div class="scoreboard-expand">
      <button data-collapse-text="Show less" data-expand-text="Show more" aria-expanded="false">Show more</button>
    </div>
  </div>
</div>
<script src="/js/scoreboard.js" defer></script>